
   
    <nav class="nav-bar" role="navigation">
      
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" ></a>
    <div>
      <a href="/" ><img  class="logo" src="/images/CLSLogo.png" alt="" /></a>
         </div>

      <ul class="nav-main hide-on-med-and-down" id="desNavMenu">
         {% for item in site.data.navigation-header.nav %}
  
     
       
          {% for entry in item.subfolderitems %}
          {% if entry.subsubfolderitems.size > 0 %}
           <li><a class="lidropdown" id="menu{{entry.page}}" onclick='openDrop("dropdown{{entry.page}}",  "menu{{entry.page}}" )'>{{ entry.page }}</a>
                              <ul id="dropdown{{ entry.page }}" class="dropdown-content-ul" >
                                {% for subitem in entry.subsubfolderitems %}
                                <li class="sub-menu-item"><a href="{{ site.baseurl }}{{subitem.url}}">{{ subitem.page }}</a></li>
                                {% endfor %}
                              </ul>
                              
                            </li>
    
        {% else %}
         <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
        
        {% endif %}
          {% endfor %}
        
   
    {% endfor %}


           </ul>

          <ul id="nav-mobile" class="side-nav">
              <div>
                  <a href="/" ><img  class="logo" src="/images/CLSLogo.png" alt="" /></a>
                     </div>
              {% for item in site.data.navigation-header.nav %}
  
     
       
              {% for entry in item.subfolderitems %}
              {% if entry.subsubfolderitems.size > 0 %}
               <li><a class="lidropdown" id="sidemenu{{entry.page}}" onclick='openDrop("sidedropdown{{entry.page}}", "sidemenu{{entry.page}}" )'>{{ entry.page }}</a></li>
                                  <ul id="sidedropdown{{ entry.page }}" class="side-nav-dropdown-content" >
                                    {% for subitem in entry.subsubfolderitems %}
                                    <li class="sub-menu-item"><a href="{{subitem.url}}">{{ subitem.page }}</a></li>
                                    {% endfor %}
                                  </ul>
                                  
                                </li>
        
            {% else %}
             <li class="lidropdown"><a href="{{ entry.url }}">{{ entry.page }}</a></li>
            
            {% endif %}
              {% endfor %}
            
       
        {% endfor %}
          </ul>        
 
      <a href="#" data-activates="nav-mobile" id="mobile-menu" class="button-collapse"><img src="/images/assets/mobile-menu.svg"> </a>
    </div>
</nav>
